

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="C:\IBM\intro.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poor+Story&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Pacifico&family=Poor+Story&display=swap" rel="stylesheet">
	<title>Intro</title>
</head>
<body>
<div class="topnav">
  <span>Hand Gesture System</span>
  <a href="launch.html">Launch</a>
  <a class="active" href="#Intro">Intro</a>
  <a  href="home.html">Home</a>
</div>

<div class="title">
	<p class="intro">INTRODUCTION</p>
</div>

<div class="container">
<span class="content"> Human gestures constitute a space of motion expressed 
by the body, face, and/or hands. Among a variety of 
gestures, hand gesture is the most expressive and the most 
frequently used. Gestures have been used as an alternative 
form to communicate with computers in an easy way. This 
kind of human-machine interfaces would allow a user to 
control a wide variety of devices through hand gestures. 
Most work in this research field tries to elude the problem 
by using markers, marked gloves or requiring a simple 
background . Glove-based gesture interfaces require 
the user to wear a cumbersome device, and generally carry 
a load of cables that connect the device to a computer. A 
real-time gesture recognition system which can recognize 
46 ASL letter spelling alphabet and digits was proposed 
. The gestures that are recognized by are static 
gestures without any motion. 
This paper introduces a hand gesture recognition 
system to recognize ‘dynamic gestures’ of which a single 
gesture is performed in complex background. Unlike 
previous gesture recognition systems, our system neither 
uses instrumented glove nor any markers. The new 
barehanded proposed technique uses only 2D video input. 
This technique involves detecting the hand location, 
tracking the trajectory of the moving hand, and analysing 
the hand-position variations. Then the obtained motion 
information is been used in the recognition phase of the 
gesture. 
The present paper is organized as follows: Section I 
introduces an overview of system components. Hand 
gesture detection and tracking the trajectory of the moving 
hand approach are presented in Sections II and III. Section 
IV demonstrates the proposed recognition method. The 
results of the proposed system are discussed in Section V. 
Conclusion and future work are given in Section VI.</span>
</div>

</body>
</html>